@font-face {
  font-family: 'Circe';
  src: url('../fonts/CirceRegular.woff2') format('woff2'),
  url('../fonts/CirceRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilam';
  src: url('../fonts/Gilam-Bold.woff2') format('woff2'),
  url('../fonts/Gilam-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilam';
  src: url('../fonts/Gilam-Regular.woff2') format('woff2'),
  url('../fonts/Gilam-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilam';
  src: url('../fonts/Gilam-SemiBold.woff2') format('woff2'),
  url('../fonts/Gilam-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff2') format('woff2'),
  url('../fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilam Book';
  src: url('../fonts/Gilam-Book.woff2') format('woff2'),
  url('../fonts/Gilam-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css?family=Amatic+SC');


// ===============================================================================


.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 140%;
  color: #fff;
  background: #171717;
  font-family: 'Gilam', sans-serif;

  > main {
    flex: 1 1 auto;
  }
}

[class*="__container"] {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1460px;
  box-sizing: content-box;
}


// ===============================================================================


.title {
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 56%;

  @media screen and (max-width: 1024px) {
    line-height: 1;
  }

  @media screen and (max-width: 769px) {
    font-size: 2rem;
  }
}

.subtitle {
  font-weight: 700;
  line-height: 140%;
}


// ===============================================================================


.header {
  position: fixed;
  width: 100%;
  background: #171717;
  padding: 37px 0;
  z-index: 10;
  transition: padding .3s;

  &.sticky {
    padding: 10px 0;
  }

  // .header__container
  &__container {
  }

  // .header__wrapper
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__logo
  &__logo {
  }

  // .header__callback
  &__callback {
    display: inline-block;
    position: relative;
    font-family: 'Circe', sans-serif;
    font-size: 1.125rem;
    line-height: 167%;
    color: #E4B564;
    padding: 10px 25px;
    border: 1px solid #E4B564;
    background: transparent;
    transition: color .3s, background-color .3s;

    *:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      color: #fff;
      background: #E4B564;

      path {
        fill: #fff;
      }
    }
  }
}

.logo {
  display: inline-block;

  // .logo__img
  &__img {
  }
}


// ===============================================================================


.page {

  // .page__works
  &__works {
    padding: 207px 0 82px;
    background: url(../img/header-bg.jpeg) center/cover no-repeat fixed;
    background-color: #00000080;
    background-blend-mode: color;
  }

  // .page__equipment
  &__equipment {
    padding: 82px 0 191px;
    background: url(../img/parallax-bg.jpeg) center/cover no-repeat fixed;
  }

  // .page__clients
  &__clients {
    padding: 172px 0 0;
    background: url(../img/header-bg.jpeg) center/cover no-repeat fixed;
    background-color: #00000080;
    background-blend-mode: color;
  }
}


// ===============================================================================

.works {

  // .works__container
  &__container {
    > *:not(:last-child) {
      margin-bottom: 41px;
    }
  }

  // .works__title
  &__title {
  }

  // .works__subtitle
  &__subtitle {
  }

  // .works__items
  &__items {
  }
}

.items-works {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 468px;
  gap: 30px;
  //align-items: center;
  //justify-items: center;

  // .items-works__item
  &__item {
    position: relative;
    grid-column: span 2;
    display: grid;
    align-items: center;
    text-align: center;
    opacity: 0.8;
  }

  &__item--big {
    grid-column: span 3;
  }

  &__item:nth-child(1) {
    background: #634F2C;
  }

  &__item:nth-child(2) {
    background: #B4A385;
  }

  &__item:nth-child(3) {
    background: #E4B564;
  }

  &__item:nth-child(4) {
    background: #635A4A;
  }

  &__item:nth-child(5) {
    background: #B08C4D;
  }


  // .items-works__name
  &__name {
  }
}


// ===============================================================================


.equipment {

  // .equipment__container
  &__container {
  }

  // .equipment__title
  &__title {
    margin-bottom: 94px;
  }

  // .equipment__items
  &__items {
  }
}

.equipment-cards {
  display: flex;
  flex-flow: column wrap;
  max-height: 1000px;
  gap: 30px;


  // .equipment-cards__img
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(20%);
    transition: filter .3s;
  }

  // .equipment-cards__name
  &__name {
    position: absolute;
    z-index: 1;
    left: 52px;
    top: 44px;
    font-weight: 500;
    line-height: 140%;
    transition: font-size .3s;

    & > span {
      display: block;;
    }

    & > span:nth-of-type(2) {
      font-weight: 700;
    }
  }

  // .equipment-cards__item
  &__item {
    max-width: 467px;
    width: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    opacity: 0.8;

    &:nth-child(1),
    &:nth-child(6) {
      height: 313px;
      background: #0E0E0E;
    }

    &:nth-child(2) {
      height: 560px;
      background: #1F1F1F;
    }

    &:nth-child(3) {
      height: 439px;
      background: #242424;
    }

    &:nth-child(4) {
      height: 435px;
      background: #E4B564;
    }

    &:nth-child(5) {
      height: 255px;
      background: #1F1F1F;
    }

    &:nth-child(7) {
      height: 277px;
      background: #0A0909;
    }

    &:hover .equipment-cards__name {
      font-size: 0;
    }
  }
}


// ===============================================================================


.clients {

  // .clients__container
  &__container {
  }

  // .clients__info
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 61px;

  }

  // .clients__title
  &__title {
  }

  // .clients__projects__button
  &__projects__button {
    display: inline-block;
    position: relative;
    font-family: 'Circe', sans-serif;
    font-size: 1.125rem;
    line-height: 167%;
    color: #E4B564;
    padding: 10px 25px;
    border: 1px solid #E4B564;
    background: transparent;
    transition: color .3s, background-color .3s;

    &:hover {
      color: #fff;
      background: #E4B564;
    }
  }

  // .clients__items
  &__items {
  }
}


.clients-cards {
  display: grid;
  grid-template: auto / repeat(3, 1fr);

  // .clients-cards__item
  &__item {
    min-height: 391px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10px;

    &:hover .clients-cards__text {
      translate: 0 0;
      position: relative;
      opacity: 1;
    }

    &:nth-child(1),
    &:nth-child(6) {
      background: #634F2C;
    }

    &:nth-child(2) {
      background: #E8D2AB;
    }

    &:nth-child(3) {
      background: #E4B564;
    }

    &:nth-child(4) {
      background: #635A4A;
    }

    &:nth-child(5) {
      background: #B08C4D;
    }
  }

  // .clients-cards__img
  &__img {
    margin-bottom: 16px;
  }

  // .clients-cards__text
  &__text {
    text-align: center;
    font-size: 1.375rem;
    line-height: 127%;
    max-width: 326px;
    position: absolute;
    opacity: 0;
    translate: 0 150px;
    transition: translate .3s, opacity .3s;
  }

  // .clients-cards__descr
  &__descr {
    font-weight: 600;
  }

  // .clients-cards__adress
  &__adress {
  }
}


footer {
  height: 239px;
  background: #171717;
}